<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="zhangkai">
<meta name="baidu-tc-verification" content="16f0b14f14413051819652b4b8b38c2a" />
<link type="text/css" rel="stylesheet" href="{{site.baseurl}}/styles/base.css" />
<link type="text/css" rel="stylesheet" href="{{site.baseurl}}/styles/desire.css" />
<link type="text/css" rel="stylesheet" href="{{site.baseurl}}/styles/main.css" />
</head>
<body>

<div id="main">
<div id="left" class="round"><div class="triangle2"></div></div>
<ul>
<li><div id="index"  class="transparent">
<h1 class="title">WELCOME</h1>
<div id="index_s">
<span>平时都用啥？</span>
<p>----------------------------------------------------------------</p>
<a href="http://weibo.com/u/1912282490" target="_blank"><img src="http://static.youku.com/v1.0.0739/v/img/ico_sina.gif" style="width:30px;margin:10px"></a>
<a href="http://zhangking520.blog.163.com/"  target="_blank"><img src="http://picache.baidu.com/media?wd=CDA79D2E8563D8F5C0BE992128D3F9A731AB79C901D3B50C51FD05D051E4912A8FC923E4DEA8AFAA593D1059EFAC3095&src=local://spider/favicon/site_blog.163.com.png&def=local://neverfill" style="width:30px;margin:10px"></a>

<a href="https://github.com/zhangking"  target="_blank"><img height="40" width="40" src="https://secure.gravatar.com/avatar/e6ab66cf7d616cbe6cdcfd04fabc5b2e?s=140&amp;d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" width="20"></a>
<br>
<span style="font-size:10px">邮箱: zhangking520@gmail.com</span>
<p>---------------------------------------------------------------</p>
<span>喜欢的产品？</span>
<br>
<ul>
<li>网易轻博客</li>
<li>极客公园</li>
<li>伯乐在线</li>
<li>阿里云</li>
<li>百度云盘</li>
<li>百度音乐</li>
</ul>
<p>-----------------------------------------------------------------</p>
<span>不喜欢的产品</span>
<ul>
<li>人人</li>
<li>360</li>

</ul>
</div>
</div></li>
<li><div id="introduce" class="transparent">
<h1 class="title" style="margin-left:300px">INTRODUCE</h1>
</div></li>
<li><div id="work" >
<h1 class="title" style="margin-left:600px">WORK</h1>
<img src="images/board.png" style="float:left;margin-left:270px;margin-bottom:-30px;">
<div style="background:url(images/green.png) repeat-x;width:100%;height:200px;float:left;" ></div>
</div></li>
<li><div id="think"  class="transparent">
<h1 class="title" style="margin-left:900px">THINK</h1>
<div id="dis_think">
<span style="font-size:20px">CREATIVE DILIGENT BRAVE </span>
<br>
<span style="font-size:20px;">IF I CAN MAKE IT THERE I'LL MAKE IT ANYWHERE</span>
<br />
<span style="font-size:50px;">NERVER STOP THINKING</span>
<br />
<span style="font-size:30px">FOLLOW YOUR HEART</span>
<br />
<span style="font-size:20px">JUST DO IT</span>
</div>
</div></li>
</ul>
<div id="right" class="transparent round"><div class="triangle1"></div></div>
</div>
<div id="b_main" >
<ul>
<li><div id="b_think" >
<img src="images/cloud.jpg" style="float:right">
</div></li>
<li><div id="b_work">
<div style="padding-left:50px;margin-left:270px;margin-top:100px;">
<ul id="img_ul" >
<li><a target="_blank" href="http://sau.zjgsu.edu.cn:7180"><img src="images/6.jpg" class="round"></a></li>
<li><a target="_blank" href ="http://www.xurihui.com/"><img src="images/3.jpg" class="round"></a></</li>
<li><a target="_blank" href="http://xsc.zjgsu.edu.cn/stumng"><img src="images/5.jpg" class="round"></a></li>
<li><a target="_blank" href="http://www.sksports.cn/"><img src="images/1.jpg" class="round"></a></li>
<li><span style="font-size:50px;color:grey">......</span></li>
</ul>
<div style="clear:both"></div>
</div>
</div></li>
<li><div id="b_introduce" class="transparent">
<div style="margin-left:70px;width:500px;float:left">
<p id="p1">&nbsp;&nbsp;&nbsp;&nbsp;本人计科出身，对计算机还是比较了解的，学过C,C++,java,汇编,编译原理,计算机网络,组成结构,操作系统,数据库,计算方法等等,可惜大多未能深入。</p>
<br>
<p id="p2">曾经也搞过acm,后来接触到了web,感觉对我更有吸引力，于是开始学习java web编程，html,css,js等.也着手做了一些项目,也带过团队,也曾尝试各种方法管理团队.随着移动互联网,html5的崛起,我看到了前端的未来
，于是选择向这方面发展.</p>
<br>
<p id="p3">对互联网产品有自己的看法，特别对交互设计有浓厚的兴趣，真正好的产品一定是以人为本的，我对此深信不疑。</p>
<br>
<p id="p4">小弟可能经验尚浅，学艺不精，但希望能凭借满腔热情，找到一份前端或产品方向的工作。</p>
</div>
<div id="technology">
<div id="distechnology">
<div id="ayuyan">
<span style="font-size:20px;">java</span><span style="font-size:21px;">javascript</span><span style="font-size:18px;">css(3)</span><span style="font-size:15px;">c/c++</span><span style="font-size:16px;">html(5)</span>
</div>
<div id="agongju">
<span style="font-size:20px;">eclipse</span><span style="font-size:21px;">chrome/firefox/ie</span><span style="font-size:18px;">zencoding/less</span><span style="font-size:15px;">webstorm</span><span style="font-size:16px;">vim</span>
</div>
<div id="akuangjia">
<span style="font-size:20px;">struts/hibernate/spring</span><span style="font-size:21px;">jquery/seajs</span><span style="font-size:18px;">phonegap</span><span style="font-size:20px;">nodejs</span><span style="font-size:18px;">jfinal</span>
</div>
</div>
<div id="yuyan">语言</div>
<div id="gongju">工具</div>
<div id="kuangjia">框架</div>
</div>
</div></li>
<li><div id="b_index">

<div id="index_p" class="transparent">
<img src="http://tp3.sinaimg.cn/1912282490/180/22826483547/1" class="shadow"/>
<div id="index_m">
<span>姓名：张凯</span>
<br>
<span>性别：男</span>
<br>
<span>年龄：22</span>
<br>
<span>家乡：宁波</span>
<br>
<span>大学：浙江工商大学</span>
</div>
<div style="clear:both"></div>
</div>
<div id="index_a" class="transparent">
<span>个人标签：</span>
<p style="color:#FFFFFF">------------------------------------------------------------------</p>
<span class="tag round">写代码</span><span class="tag round">前端</span><span class="tag round">强迫症</span>
<span class="tag round">设计癖</span><br>
<span class="tag round">有态度</span>
<span class="tag round">热血</span>
<span class="tag round">微博控</span><span class="tag round">海贼迷</span><span class="tag round"></span>
<br>
<span class="tag round">篮球</span><span class="tag round">不会理财</span><span class="tag round">却是财迷</span>

<span class="tag round">能抗压</span><span class="tag round">喜欢新鲜事物</span><span class="tag round"></span>
<span class="tag round">干劲十足</span><span class="tag round"></span><span class="tag round">金牛座</span><span class="tag round"></span>
</div >
<div style="clear:both"></div>
</div>
</div></li>
</ul>
</div>
<script type="text/javascript" src="{{site.baseurl}}/scripts/jQuery.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/scripts/desire.js"></script>
<script type="text/javascript">
$(document).ready(function(){
slide()();
$("#left").hover(function(){startMove(8,this,'opacity',100)},
function(){startMove(8,this,'opacity',60)});
$("#right").hover(function(){startMove(8,this,'opacity',100)},
function(){startMove(8,this,'opacity',60)});
});
</script>

</body>
</html>