<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<script language="JavaScript" src="scripts/jQuery.js"></script>
<script type="text/javascript" src="scripts/nicEdit/nicEdit.js"></script>
<script type="text/javascript" src="scripts/desire.js"></script>
<script type="text/javascript" src="scripts/fancybox/jquery.fancybox.pack.js"></script>
<link rel="stylesheet" href="scripts/fancybox/jquery.fancybox.css"  />
<link  rel="stylesheet"  href="styles/base.css"  />
<link   rel="stylesheet"   href="styles/desire.css"  > 
<title>{{ page.title }}</title>
</head>
<body background=""> 
<div style="width:960px;height:auto;background:#B9AFAF;">
{{ content }}
</div>
<a class="btn1" href="#">µÇÂ¼
</body>
</html>