<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{{page.title}}</title>
<script language="JavaScript" src="scripts/jQuery.js"></script>
<script type="text/javascript" src="scripts/nicEdit/nicEdit.js"></script>
<script type="text/javascript" src="scripts/desire.js"></script>
<script type="text/javascript" src="scripts/fancybox/jquery.fancybox.pack.js"></script>
<link rel="stylesheet" href="scripts/fancybox/jquery.fancybox.css"  />
<link  rel="stylesheet"  href="styles/base.css"  />
<link   rel="stylesheet"   href="styles/desire.css"  > </head>

<body>
    <div class="round transparent shadow" style="position:absolute;margin-left:200px;margin-top:100px;width:800px;min-height:300px">
        <div class="title">
            <a href="{{site.baseurl}}/">flipoint</a>
            <a href="{{site.baseurl}}/" class="extra">home</a>
            <a href="{{site.baseurl}}/about.html" class="extra">about</a>
        </div>
               {{ content }}
        <div class="footer">
            <div class="contact">
            </div>
        </div>
    </div>
</body>
</html>